[Unit]
Description=Gannoy DB
ConditionPathExists=/usr/bin/start_server
ConditionPathExists=/usr/bin/gannoy-db
After=network.target

[Service]
Type=simple
PIDFile=/var/run/gannoy/server_starter.pid
ExecStart=/usr/bin/start_server --port 8080 --pid-file /var/run/gannoy/server_starter.pid -- /usr/bin/gannoy-db -c /etc/gannoy/gannoy-db.toml
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
